html {
  max-width: 100%;
  width:1200px;
  margin: 0 auto;
  text-align: center;
  height:100vh;
}

#container-camisetas{
  height:500px;
  width:500px;
  padding-top:200px;
  max-width: 100%;
  margin: 0 auto;
  text-align:center;
}

h2{
  margin: 0 auto;
  display:block;
}